# WikiCrowd:start
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase %www%

RewriteRule ^core/js/locale.js$ core/js/locale.js.php [L,QSA]

RewriteRule ^auth/?$ auth.php [L,QSA]
RewriteRule ^check/([a-zA-Z0-9]+)-([a-f0-9]{32})/$ confirm.php?login=$1&hash=$2 [L,QSA]
RewriteRule ^person/([a-zA-Z0-9]+)$ user.php?uid=$1 [L,QSA]
RewriteRule ^allchanges/?$ changes.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* chapter.php [L]
RewriteRule ^$ chapter.php [L]
</IfModule>
# WikiCrowd:end
