# WikiCrowd:start
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase %www%

RewriteRule ^core/js/locale.js$ core/js/locale.js.php [L]
RewriteRule ^auth$ auth/ [R,L]
RewriteRule ^auth/$ auth.php [L,QSA]
RewriteRule ^check/([a-zA-Z0-9]+)-([a-f0-9]{32})/$ confirm.php?login=$1&hash=$2 [L,QSA]
RewriteRule ^person$ person/ [L,R]
RewriteRule ^person/([a-zA-Z0-9]*)$ user.php?uid=$1 [L,QSA]
RewriteRule ^allchanges$ allchanges/ [R,L]
RewriteRule ^allchanges/$ changes.php [L]
RewriteRule ^allchanges/rss$ allchanges/rss/ [R,L]
RewriteRule ^allchanges/rss/$ rss.php [L]
RewriteRule ^configure$ configure/ [R,L]
RewriteRule ^configure/$ configure.php [L]

# protect ajax.php from robots
RewriteCond %{HTTP_REFERER} ^$
RewriteCond %{REQUEST_URI} ajax\.php
RewriteRule ajax\.php - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* chapter.php [L]
RewriteRule ^$ chapter.php [L]
</IfModule>
# WikiCrowd:end
