<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE person PUBLIC "WikiCrowd" "../core/xml/wikicrowd.dtd">
<person uid="system" password="c28ba1cf5aa37f73e4e8767f785f5022" name="WikiCrowd System" email="davidovsv@yandex.ru" created-ts="1241185683" created-date="01/05/2009 17:48"><info><![CDATA[Симпатяга-робот, поддерживащий работу WikiCrowd :).]]></info></person>
